@model BandsRecord
@{
    ViewData["Title"] = "EditRecord";
}

<h2>EditRecord</h2>

<div class="container">
    <div asp-validation-summary=" All" class="text-danger"></div>
    <form asp-controller="BandRecord" asp-action="EditRecord" method="post">

        <div>
            <input type="hidden" asp-for="@Model.BandsRecordId" /> 
        </div>

        <div class="form-group">
            <label asp-for="@Model.BandsRecordName">Nazwa Płyty</label>
            <input class="form-control" asp-for="@Model.BandsRecordName" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.ReleaseOfTheCd">Data Wydania</label>
            <input class="form-control" id="DataPicker" asp-for="@Model.ReleaseOfTheCd" />
        </div>

        <div>
            <button type="submit" class="btn btn-success">Dodaj</button>
        </div>


    </form>
</div>



@section Scripts
    {



    <script type="text/javascript">
        $(function () {
            $('#DataPicker').datepicker(
                $.datepicker.regional["pl"]
            );
        });
    </script>

}